body {
    /* background-image: url("./assets/images/gears.jpg"); */
    background-color: gray;
    text-align: center;
    font-display: white;
}

.row {
    height: 500px;
}

.bd-example {
    padding-top: 20px;
}
